<%- include('partials/header') %>

  <main class="container closed">
    <h1>We're closed</h1>
    <p>Our web application is available Monday to Friday from 9:00 to 17:00. Please come back during working hours.</p>
  </main>

<%- include('partials/footer') %>
